<br /><br />
<div class="col-xs-8 col-xs-offset-2 member-stats">
  <h2 class="text-center">Scoring Average</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% scoring_rank.sort_by{|k, v| +v }.each.with_index(1) do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>

<br /><br />
<div class="col-xs-8 col-xs-offset-2 member-stats">
  <h2 class="text-center">Greens in Regulation Avg</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% greens_rank.sort_by{|k, v| -v}.each.with_index(1) do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>

<br / /><br />
<div class="col-xs-8 col-xs-offset-2 member-stats">
  <h2 class="text-center">Fairways Hit By Round</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% fairways_rank.sort_by{|k, v| -v}.each.with_index(1) do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>

<br /><br />
<div class="col-xs-8 col-xs-offset-2 member-stats">
  <h2 class="text-center">Putting Average By Round</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% putting_rank.sort_by{|k, v| +v }.each.with_index(1) do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>

<br /><br />
<div class="col-xs-8 col-xs-offset-2 member-stats">
  <h2 class="text-center">Birdie Average By Round</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% birdies_rank.sort_by{|k, v| -v}.each.with_index(1) do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>

<br /><br />
<div class="col-xs-8 col-xs-offset-2 member-stats">
  <h2 class="text-center">Par Average By Round</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <%pars_rank.sort_by{|k, v| -v}.each.with_index(1) do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>
