<div class="container fitz">
  <div class="col-xs-6">
    <h2>Edit your profile</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :picture %>
      <br />
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
      <div class="actions">
        <br />
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
</div>
