<br />
<div class="big-box col-xs-8 col-xs-offset-2 fitz">
    <h2>Registration</h2>
    <br />
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, required: true, autofocus: true %>
        <%= f.input :last_name, required: true, autofocus: true %>
        <%= f.input :email, required: true, autofocus: true %>
        <br />
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <br />
        <%= f.input :picture, label: 'Upload a Picture (NOT Required / you can update later...)' %>
      </div>
      <br />
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'btn btn-default' %>
      </div>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>
</div>
