
<br />
<div class="leaderboard-edit col-xs-6 col-xs-offset-3 fitz">
  <h3>Edit your round</h3>
  <%= simple_form_for @round do |f| %>
  <%= f.input :course, required: true, label: 'Course Name?' %>
  <%= f.input :score, required: true, label: 'What score did you shoot?' %>
  <%= f.input :greens, required: true, label: 'Greens Hit This Round' %>
  <%= f.input :fwys, required: true, label: 'Fairways Hit Today?' %>
  <%= f.input :fwystotal, required: true, label: 'Total Fairways Possible? Do not include Par 3 holes' %>
  <%= f.input :putts,required: true, label: 'Putts Total' %>
  <%= f.input :birdies, required: true, label: 'How many birdies this round?', placeholder: '3' %>
  <%= f.input :pars, required: true, label: 'How many pars this round?', placeholder: '10' %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-success btn-xs' %>
    <% end %>
    <br />
</div>
