<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1> new round</h1>
  <%= simple_form_for @round do |f| %>
    <%= f.input :course %>
    <%= f.input :score %>
    <%= f.input :greenshit %>
    <%= f.input :greenstotal %>
    <%= f.input :fwyhit %>
    <%= f.input :fwytotal %>
    <%= f.input :putts %>
    <%= f.submit "Post!" %>
    <% end %>
</div>
