<div class="col-xs-10 col-xs-offset-1 recap bottom">
  <h1 class="text-center"><%= @round.course %><br /></h1>
  <h4 class="text-center linkavg comment_handle"><%= @round.user.name %> | <%= @round.created_at.strftime("%m-%d-%Y") %><br /><br />
    <%= link_to 'Edit Round', edit_round_path(@round), class: 'btn btn-default' %>&nbsp;&nbsp;<%= link_to 'Delete Round', round_path(@round), class: 'btn btn-default', method: :delete, data: {confirm: 'Are you sure you want to delete this?'} %>
  </h4>
    <br /><br /><br />

  <div class="show-stats">
    <div class="col-xs-4 text-center big-score show-stats">
        <h4 class="comment_handle">Score</h4>
        <%= @round.score %>
    </div>

    <div class="col-xs-4 text-center big-score show-stats">
        <h4 class="comment_handle">Greens Hit</h4>
        <%= @round.greens %> / 18
    </div>

    <div class="col-xs-4 text-center big-score show-stats">
        <h4 class="comment_handle">Driving Accuracy</h4>
        <%= @round.fwys %> / <%= @round.fwystotal %>
    </div>
  </div>

  <div class="show-stats">
      <div class="col-xs-4 text-center big-score bottom">
        <h4 class="comment_handle">Putts</h4>
      <%= @round.putts %>
      </div>

      <div class="col-xs-4 text-center big-score bottom">
        <h4 class="comment_handle">Birdies</h4>
        <%= @round.birdies %>
      </div>

      <div class="col-xs-4 text-center big-score bottom">
        <h4 class="comment_handle">Pars</h4>
        <%= @round.pars %>
      </div>
  </div>
</div>
<br class="clr" />
<h3 class="text-center">Add Some Notes For This Round</h3>
<div class="col-xs-10 col-xs-offset-1 recap top">
  <%= simple_form_for Note.new, url: round_notes_path(@round) do |f| %>
    <br />
    <%= f.input :message, label: 'Leave a description of your round!   Example: I was pulling the ball so I adjusted my grip. OR I started lining up my putts like (this) and I started to putt better....  The more notes you leave, we can start to track similarities in your rounds which will help to narrow what you need to work on.' %>
    <br />
    <%= f.submit 'Add Round Notes', class: 'btn-default' %>
    <% end %>
    <br />
</div>
<br class="clr" />
<div class="col-xs-10 col-xs-offset-1 round-recap bottom">
  <div class="container">
    <p class="info">
      <br />
      Notes:<br />
      <% if @round.birdies > 1 %>
      You had <%= @round.birdies %> birdies and <%= @round.pars %> pars. If you think about it, you played <%= @round.total_stretch_under %> holes at <%= @round.birdies %> under!<br />
      <% end %>
      <% if @round.birdies == 0 %>
      You had <%= @round.birdies %> birdies and <%= @round.pars %> pars. If you think about it, you played <%= @round.zero_birdie_round %> holes at EVEN par!<br />
      <% end %>
      <% if @round.birdies == 1 %>
      You had <%= @round.birdies %> birdie and <%= @round.pars %> par(s). If you think about it, you played <%= @round.total_stretch_under %> holes at <%= @round.birdies %> under!<br />
      <% end %>
      <% @round.notes.each do |note| %>
      <%= note.message %>&nbsp;&nbsp;<%#= link_to(image_tag("edit.png", class: 'pencil'), edit_round_note_path(@round, note)) %>&nbsp;&nbsp;
      <%= link_to(image_tag("trash.png", class: 'trash'), round_note_path(@round,note), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}) %><br />
      <% end %>
    </p>
  </div>
</div>
