<br />
  <div class="big-box col-xs-6 col-xs-offset-3 fitz">
    <h3>Recap Your 9 Hole Round</h3>
    <%= simple_form_for Nineholeround.new do |f| %>
    <%= f.error_notification %>
      <%= f.input :course, required: true, label: 'Course Name?', placeholder: 'Whitnal Park' %>
      <%= f.input :score, required: true, label: 'What score did you shoot?', placeholder: '42' %>
      <%= f.input :greenshit, required: true, label: 'Greens hit this round?', placeholder: '5' %>
      <%= f.input :fwys, required: true, placeholder: '7', label: 'Fairways hit today?' %>
      <%= f.input :fwystotal, required: true, label: 'Total fairways possible? Do not include Par 3 holes', placeholder: '7' %>
      <%= f.input :putts, required: true, label: 'Putts Total', placeholder: '18' %>
      <%= f.input :birdies, required: true, label: 'How many birdies this round?', placeholder: '2' %>
      <%= f.input :pars, required: true, label: 'How many pars this round?', placeholder: '5' %>
      <br />
      <%= f.submit 'Create', class: 'btn btn-primary' %>
  </div>
<% end %>
