<br />
  <div class="thumbnail col-xs-6 col-xs-offset-3 bottom">
    <h3 class="text-center">Post 9 Hole Score</h3>
    <%= simple_form_for Nineholeround.new do |f| %>
    <%= f.error_notification %>
        <%= f.input :course, required: true, placeholder: 'Course Name' %>
        <%= f.input :score, required: true, placeholder: 'What did you shoot?' %>
        <%= f.input :greenshit, required: true, placeholder: 'Total greens hit?' %>
        <%= f.input :fwys, required: true, placeholder: 'Fairways hit today?' %>
        <%= f.input :fwystotal, required: true, placeholder: 'Total fairways possible?' %>
        <%= f.input :putts, required: true, placeholder: 'Total number of putts?' %>
        <%= f.input :birdies, required: true, placeholder: 'How many birdies did you make?' %>
        <%= f.input :pars, required: true, placeholder: 'How many pars did you make?' %>
        <p class="info">Would you like this round public?&nbsp;&nbsp;<%= f.check_box :public %></p>
      <br />
      <%= f.submit 'Create', class: 'btn btn-primary' %>
  </div>
<% end %>
