<br />
<div class="container">
  <h2>Profile</h2>
  <%= link_to edit_user_registration_path do %>
  <div class="box text-center">
    <br />
      <% if current_user.picture.present? %>
    <div class="user-photo">
        <%= image_tag current_user.picture %>
    </div>
    <% else %>
    <%= image_tag 'add-user.png', class: 'user' %>
    <% end %>
    <h1><%= current_user.name %></h1>
    <h5>Member since: <%= current_user.created_at.strftime("%m/%d/%Y") %>&nbsp;&nbsp;&nbsp;<%= image_tag 'edit.png', class: 'editing' %></h5>
  </div>
  <% end %>
  <br />
  <div>
    <p class="info bottom">
      18 Hole Rounds Played - <%= current_user.rounds.count %><br />
      9 Hole Rounds Played - <%= current_user.nineholerounds.count %><br>
      Best Round - <%= current_user.users_best_score %><br />
      Last Round - <%= current_user.last_round.created_at.strftime("%m/%d/%Y") %> (<%= current_user.last_round.course %> - <%= current_user.last_round.score %>)<br>
    </p>
  </div>
  <div class="linkavg bottom">
    <%= link_to 'Post 18 Hole Score', new_round_path, class: 'btn btn-default' %>
    <%= link_to 'Post 9 Hole Score', new_nineholeround_path, class: 'btn btn-default' %>
  </div>
</div>
