<br /><br />

  <div class="text-center col-xs-6 col-xs-offset-3">
    <%= image_tag 'user.png', class: 'user' %>
    <h1><%= current_user.name %></h1>
    <h5>Member since: <%=current_user.created_at.strftime("%m/%d/%Y") %></h5>
    <hr class="hr" />
  </div>

  <br class="clr" />
  <% @yearly_rounds.each do |year, round| %>
  <h1 class="text-center"><%= year %></h1>
    <div class="user-table">
      <table class="col-xs-10 col-xs-offset-1 table2">
        <tr class="table-title">
          <th>Date</th>
          <th>Course</th>
          <th>Score</th>
          <th>Greens</th>
          <th>Fwys</th>
          <th>Putts</th>
          <th>Birdies</th>
          <th>Pars</th>
        </tr>
        <tr class="text-center">
          <% round.sort.each do |round| %>
          <td class="text-center"><%= round.created_at.strftime('%_m/%-d') %></td>
          <td class="text-center"><%= round.course %></td>
          <td class="text-center"><%= link_to round.score, edit_round_path(round), class: 'edits' %></td>
          <td class="text-center"><%= round.greens %> / 18</td>
          <td class="text-center"><%= round.fwys %> / <%= round.fwystotal %></td>
          <td class="text-center"><%= round.putts %></td>
          <td class="text-center"><%= round.birdies %></td>
          <td class="text-center"><%= round.pars %></td>
        </tr>
    <% end %>
    </table>
    <br class="clr" />
    <% end %>
  </div>

<br />

<% if current_user.rounds.present? %>
<div class="col-xs-6 col-xs-offset-3">
  <h1 class="text-center">Total Rounds : <%= current_user.total_rounds %></h1>
</div>
  <div>
    <div class="col-xs-4 text-center averages">
      <p class="big-score"><%= current_user.scoring_average_rounded %></p>
      <%= image_tag 's.png', class: 'avgs' %>coring Average
    </div>
    <div class="col-xs-4 text-center averages">
      <p class="big-score"><%= current_user.greens_hit_average_rounded %>%</p>
      <%= image_tag 'g.png', class: 'avgs' %>reen's Percentage
    </div>
    <div class="col-xs-4 text-center averages">
      <p class="big-score"><%= current_user.fwys_hit_average_rounded %>%</p>
      <%= image_tag 'd.png', class: 'avgs' %>riving Accuracy
    </div>
  </div>


  <br class= "clr" />
  <div>
    <div class="col-xs-4 text-center averages2">
      <p class="big-score"><%= current_user.putting_average_rounded %></p>
      <%= image_tag 'p.png', class: 'avgs' %>utting Average
    </div>
    <div class="col-xs-4 text-center averages2">
      <p class="big-score"><%= current_user.birdie_average_rounded %></p>
      <%= image_tag 'bird.png', class: 'avgs' %>irdie Average
    </div>
    <div class="col-xs-4 text-center averages2">
      <p class="big-score"><%= current_user.par_average_rounded %></p>
      <%= image_tag 'par.png', class: 'avgs' %>ar Average
    </div>
  </div>

<% else %>
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <h2>You need to enter a round to see your stats!</h2>
  </div>
<% end %>
