<br />
<div class="container">
  <h2>Profile</h2>
  <%= link_to edit_user_registration_path do %>
  <div class="col-xs-4 box text-center">
    <br />
      <% if current_user.picture.present? %>
    <div class="user-photo">
        <%= image_tag current_user.picture %>
    </div>
    <% else %>
    <%= image_tag 'add-user.png', class: 'user' %>
    <% end %>
    <h1><%= current_user.name %></h1>
    <h5>Member since: <%= current_user.created_at.strftime("%m/%d/%Y") %>&nbsp;&nbsp;&nbsp;<%= image_tag 'edit.png', class: 'editing' %></h5>
  </div>
  <% end %>
  <br />
</div>
