<br /><br />

  <div class="text-center col-xs-6 col-xs-offset-3">
    <%= image_tag 'user.png', class: 'user' %>
    <h1><%= current_user.name %></h1>
    <h5>Member since: <%=current_user.created_at.strftime("%m/%d/%Y") %></h5>
  </div>

<br class="clr" /><br /><br />
<div class="col-lg-8 col-lg-offset-2 user-table">
  <table>
    <tr class="table-title">
      <th>Date</th>
      <th>Course</th>
      <th class="scores">Score</th>
      <th>Greens</th>
      <th>Fwys</th>
      <th>Putts</th>
      <th>Birdies</th>
      <th>Pars</th>
    </tr>

  <% current_user.rounds.each do |round| %>
    <tr class="text-center">
      <td><%= round.created_at.strftime("%m/%y") %></td>
      <td><%= round.course %></td>
      <td class="scores round-link"><%= link_to round.score, edit_round_path(round) %></td>
      <td><%= round.greens %> / 18</td>
      <td><%= round.fwys %> / <%= round.fwystotal %></td>
      <td><%= round.putts %></td>
      <td><%= round.birdies %></td>
      <td><%= round.pars %></td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<% if current_user.rounds.present? %>
  <div>
    <div class="col-xs-4 text-center averages">
      <p class="big-score"><%= current_user.scoring_average_rounded %></p>
      <p>Scoring Average</p>
    </div>
    <div class="col-xs-4 text-center averages">
      <p class="big-score"><%= current_user.greens_hit_average_rounded %>%</p>
      <p>Green's Percentage</p>
    </div>
    <div class="col-xs-4 text-center averages">
      <p class="big-score"><%= current_user.fwys_hit_average_rounded %>%</p>
      <p>Driving Accuracy</p>
    </div>
  </div>

  <br class= "clr" />
  <div>
    <div class="col-xs-4 text-center averages2">
      <p class="big-score"><%= current_user.putting_average_rounded %></p>
      <p>Putting Average</p>
    </div>
    <div class="col-xs-4 text-center averages2">
      <p class="big-score"><%= current_user.birdie_average_rounded %></p>
      <p>Birdie Average</p>
    </div>
    <div class="col-xs-4 text-center averages2">
      <p class="big-score"><%= current_user.par_average_rounded %></p>
      <p>Par Average</p>
    </div>
  </div>

<% else %>
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <h2>You need to enter a round to see your stats!</h2>
  </div>
<% end %>

<hr />
<br />
<h3 class="text-center">What do you want to shoot?<br />What should I be working on to improve? <br />Here's the stat averages for the following scoring averages -</h3>
<br /><br /><br />
<div>
  <div class="col-xs-4">
    <h3 class="text-center big-score">70</h3>
    <p class="text-center">---------</p>
    <ul class="info">
      <li>66% Green's hit</li>
      <li>81% Fwy's hit</li>
      <li>29  Putts</li>
      <li>3.2 Birdies</li>
      <li>11.8 Pars</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3 class="text-center big-score">75</h3>
    <p class="text-center">---------</p>
    <ul class="info">
      <li>55% Green's hit</li>
      <li>71% Fwy's hit</li>
      <li>30 Putts</li>
      <li>2.4 Birdies</li>
      <li>10.3 Pars</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3 class="text-center big-score">80</h3>
    <p class="text-center">---------</p>
    <ul class="info">
      <li>44% Green's hit</li>
      <li>59% Fwy's hit</li>
      <li>32 Putts</li>
      <li>1.8 Birdies</li>
      <li>8.5 Pars</li>
    </ul>
  </div>
  <br class="clr" />
  <div class="col-xs-4 bottom">
    <h3 class="text-center big-score">85</h3>
    <p class="text-center">---------</p>
    <ul class="info">
      <li>27% Green's hit</li>
      <li>46% Fwy's hit</li>
      <li>33.7 Putts</li>
      <li>0.8 Birdies</li>
      <li>6.6 Pars</li>
    </ul>
  </div>
  <div class="col-xs-4 bottom">
    <h3 class="text-center big-score">90</h3>
    <p class="text-center">---------</p>
    <ul class="info">
      <li>14% Green's hit</li>
      <li>33% Fwy's hit</li>
      <li>35 Putts</li>
      <li>0.1 Birdies</li>
      <li>4.8 Pars</li>
    </ul>
  </div>
  <div class="col-xs-4 bottom">
    <h3 class="text-center big-score">100</h3>
    <p class="text-center">---------</p>
    <ul class="info">
      <li>0% Green's hit</li>
      <li>11% Fwy's hit</li>
      <li>38.3 Putts</li>
      <li>0 Birdies</li>
      <li>1.3 Pars</li>
    </ul>
  </div>
</div>
