<br />
<div class="container">
  <%= link_to edit_user_registration_path do %>
  <div class="box text-center">
    <br />
      <% if current_user.picture.present? %>
    <div class="user-photo">
        <%= image_tag current_user.picture %>
    </div>
    <% else %>
    <%= image_tag 'add-user.png', class: 'user' %>
    <% end %>
    <h1><%= current_user.name %></h1>
    <h5>Member since: <%= current_user.created_at.strftime("%m/%d/%Y") %>&nbsp;&nbsp;&nbsp;<%= image_tag 'edit.png', class: 'editing' %></h5>
  </div>
  <% end %>
  <br />
  <div class="col-xs-3 text-center top">
    <p class="giant-score">
      <%= current_user.rounds.count %>
    </p>
    <p class="ginfo">18 Hole Games</p>
  </div>
  <div class="col-xs-3 text-center top">
       <p class="giant-score">
      <%= current_user.nineholerounds.count %>
    </p>
    <p class="ginfo">9 Hole Games</p>
  </div>
  <div class="col-xs-3 text-center top">
       <p class="giant-score">
      <%= current_user.users_best_score %>
    </p>
    <p class="ginfo">Low Score 18 Holes</p>
  </div>
  <div class="col-xs-3 text-center top">
       <p class="giant-score">
      <%= current_user.users_best_score_nine_holes %>
    </p>
    <p class="ginfo">Low Score 9 Holes</p>
  </div>
  <br class="clr" />
  <div class="charts">
    <h3 class="text-center">Scoring</h3><br>
    <%= area_chart Round.group_by_day(:created_at).maximum(:score) %>
  </div>
  <div class="charts top">
    <h3 class="text-center">Greens Hit</h3><br>
    <%= area_chart Round.group_by_day(:created_at).maximum(:greens) %>
  </div>
  <div class="charts top">
    <h3 class="text-center">Fairways Hit</h3><br>
    <%= area_chart Round.group_by_day(:created_at).maximum(:fwys) %>
  </div>
  <div class="charts top">
    <h3 class="text-center">Putting</h3><br>
    <%= area_chart Round.group_by_day(:created_at).maximum(:putts) %>
  </div>
  <div class="charts top">
    <h3 class="text-center">Pars</h3><br>
    <%= area_chart Round.group_by_day(:created_at).maximum(:pars) %>
  </div>
  <div class="charts top">
    <h3 class="text-center">Birdies</h3><br>
    <%= area_chart Round.group_by_day(:created_at).maximum(:birdies) %>
  </div>
</div>
