<br />
<div class="container">
  <%= link_to edit_user_registration_path do %>
  <div class="box text-center">
    <br />
    <%= image_tag 'add-user.png', class: 'user' %>
    <br>
    <h1><%= current_user.name %></h1>
    <h5>Member since: <%= current_user.created_at.strftime("%m/%d/%Y") %>&nbsp;&nbsp;&nbsp;<%= image_tag 'edit.png', class: 'editing' %></h5>
  </div>
  <% end %>
  <br />
  <div class=" col-xs-8 col-xs-offset-2 text-center linkavg">
        <%= link_to 'Post 18 Hole Score', new_round_path, class: 'btn btn-default' %>&nbsp;&nbsp;&nbsp;
        <%= link_to 'Post 9 Hole Score', new_nineholeround_path, class: 'btn btn-default' %>
  </div>
  <br class="clr" />
  <div class="col-xs-3 text-center top">
    <p class="giant-score">
      <%= current_user.rounds.count %>
    </p>
    <p class="ginfo">18 Hole Games</p>
  </div>
  <div class="col-xs-3 text-center top">
       <p class="giant-score">
      <%= current_user.nineholerounds.count %>
    </p>
    <p class="ginfo">9 Hole Games</p>
  </div>
  <div class="col-xs-3 text-center top">
       <p class="giant-score">
      <%= current_user.users_best_score %>
    </p>
    <p class="ginfo">Low Score 18 Holes</p>
  </div>
  <div class="col-xs-3 text-center top">
       <p class="giant-score">
      <%= current_user.users_best_score_nine_holes %>
    </p>
    <p class="ginfo">Low Score 9 Holes</p>
  </div>
  <br class="clr" />
  <div class=" col-xs-8 col-xs-offset-2 text-center top bottom linkavg">
        <%= link_to '18 Hole Averages', avg_eighteen_path, class: 'btn btn-default' %>&nbsp;&nbsp;&nbsp;
        <%= link_to '9 Hole Averages', avg_nine_path, class: 'btn btn-default' %>
  </div>
</div>



