<br /><br />
  <div class="col-xs-8 col-xs-offset-2 about-chart">
    <p class="info top">
    Play golf, track your stats and start to improve! For the best experience, please use iPad devices or larger. Here's a preview...
    </p>
  </div>
  <br class="clr" />
  <div>
    <div class="col-xs-6 col-xs-offset-3 top tk">
      <p class="info">
        Upload your round!
      </p>
      <br />
      <%= image_tag 'a2.png', class: 'img-responsive' %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 top tk">
      <p class="info">
        Track your stats!
      </p>
      <br />
      <%= image_tag 'a3.png', class: 'img-responsive' %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 top tk">
      <p class="info">
        View member scorecards and leave comments!
      </p>
      <br />
      <%= image_tag 'a1.png', class: 'img-responsive' %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 top tk">
      <p class="info">
        See how you rank!
      </p>
      <br />
      <%= image_tag 'a4.png', class: 'img-responsive' %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 top tk">
      <p class="info">
        Stuck and can't improve? Upload a video for a lesson!
      </p>
      <br />
      <%= image_tag 'about3.png', class: 'img-responsive' %>
    </div>
  </div>
<br class="clr" />
<div class="col-xs-6 col-xs-offset-3 top bottom">
  <p class="info">
    I got it! (<%= link_to 'Sign Me Up', new_user_registration_path, class: 'about-link' %>)<br />
    Already registered? (<%= link_to 'Sign Me In', new_user_session_path, class: 'about-link' %>)
  </p>
</div>
<br /><br /><hr class="hr" />
<p class="info text-center top bottom">
  A Ruby on Rails application developed by <a href="http://wade-carlson.com" target="_blank">Wade Carlson</a>
</p>
