<br />
<h2 class="text-center title">About TrakStats</h2>
<div class="col-xs-6 col-xs-offset-3">
  <p class="info top">
    TrakStats is a simple way for you to keep track of your golf stats!<br />
    Upload your round, view your stats, see how you rank against other users!
  </p>
  <br class="clr" />
  <div>
    <div class="col-xs-6">
      <p class="info top">
        Membership is free and you have access to the following -
      </p>
      <ul class="info">
        <li>Add / Edit Rounds</li>
        <li>Stat Averages</li>
        <li>Rankings</li>
        <li>View other member scores</li>
        <li>Leave comments and messages</li>
        <li>Tips</li>
    </div>
    <div class="col-xs-6 wrap top">
      <%= image_tag 'about2.png', class: 'img-responsive' %>
    </div>
  </div>
<br class="clr" />

  </ul>
  <p class="info top">
    If you are struggling and not sure what to work on you can always <br />upload a video of your swing and get a lesson! (Premium)
  </p>
  <div>
    <%= image_tag 'about6.png', class: 'img-responsive' %>
  </div>
</div>




<div class="col-sm-4 text-center banner">
    <%= image_tag 'golf-2.png', class: 'icons' %>
    <br />
    <h4>Play golf!</h4>
</div>
<div class="col-sm-4 text-center banner">
    <%= image_tag 'analytics.png', class: 'icons' %>
    <br />
    <h4>Track your stats!</h4>
</div>
<div class="col-sm-4 text-center banner">
    <%= image_tag 'hole.png', class: 'icons' %>
    <br />
    <h4>Start Improving!</h4>
</div>
