
<h2 class="text-center title">About TrakStats</h2>
<br />
<hr />
<br /><br /><br />
<div class="col-xs-12">
  <div class="col-xs-5">
    <h3 class="text-center">Overview</h3>
    <p class="text-center">-------------------</p>
    <p class="info">
      TrakStats is a simple way to track the statistics from your round of golf.  If you have tried to keep track of
      your stats in the past and have failed, look no further!  When you post a score, it will be displayed to other members on the home page.
      You have access to a user dashboard, "My Stats", which lets you look at your stats in-depth.
      Each round you post will be tracked and you can see all of your averages.  Here's a snapshot of what you can track.
    </p>
    <br />
    <ul class="info">
      <li>Scoring Average</li>
      <li>Fwy's hit %</li>
      <li>Green's hit %</li>
      <li>Putting / Putts Per Round Average</li>
    </ul>
    <br />
    <p class="info">
      You also have access to the following -
    </p>
    <ul class="info">
      <li>Round Edits</li>
      <li>Removing rounds</li>
      <li>Get tips to improve your game</li>
      <li>Leave comments or messages for friends!</li>
    </ul>


  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-5">
    <h3 class="text-center">About</h3>
    <p class="text-center">-------------------</p>
    <p class="info">
      Designed and developed by Wade Carlson, PGA.  If you have an idea for a product and need help with
      web development, branding or site design, contact us today.  All branding and design courtesy of <a href="http://marcelle-carlson.getforge.io" target="_blank">Marcelle Carlson</a>.
      Web development courtesy of Wade Carlson.
      TrakStats was created using -
    </p>
    <ul class="info">
      <li>Ruby on Rails</li>
      <li>HTML5</li>
      <li>CSS-3</li>
    </ul>
    <br /><br />
    <div class="col-xs-4 text-center">
      <%= link_to "https://github.com/waders92/golfstats", :target=> "_blank" do %>
      <%= image_tag 'git.png', class: 'social' %>
      <% end %>
    </div>
    <div class="col-xs-4 text-center">
      <%= link_to "https://medium.com/@wadecarlson", :target=> "_blank" do %>
      <%= image_tag 'medium.png', class: 'social' %>
      <% end %>
    </div>
    <div class="col-xs-4 text-center">
      <%= link_to "https://www.facebook.com/wadecarlson1974", :target=> "_blank" do %>
      <%= image_tag 'fb.png', class: 'social' %>
      <% end %>
    </div>
  </div>
<br />
</div>
<br /><br />


<div class="col-sm-4 text-center banner">
    <%= image_tag 'golf-2.png', class: 'icons' %>
    <br />
    <h4>Play golf!</h4>
</div>
<div class="col-sm-4 text-center banner">
    <%= image_tag 'analytics.png', class: 'icons' %>
    <br />
    <h4>Track your stats!</h4>
</div>
<div class="col-sm-4 text-center banner">
    <%= image_tag 'hole.png', class: 'icons' %>
    <br />
    <h4>Start Improving!</h4>
</div>
