<br /><br />
  <div class="col-xs-8 col-xs-offset-2 about-chart">
    <p class="info top">
    Play golf, track your stats and start to improve! The best part, Membership
    is always free! For the best experience, please view us on iPad devices or larger. Here's a preview...
    </p>
  </div>
  <br class="clr" />
  <div>
    <div class="col-xs-6 col-xs-offset-3 top tk">
      <p class="info">
        Upload your round!
      </p>
      <br />
      <%= image_tag 'a2.png', class: 'img-responsive' %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 top tk">
      <p class="info">
        Track your stats!
      </p>
      <br />
      <%= image_tag 'a3.png', class: 'img-responsive' %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 top tk">
      <p class="info">
        View member scorecards and leave comments!
      </p>
      <br />
      <%= image_tag 'a1.png', class: 'img-responsive' %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 top tk">
      <p class="info">
        See how you rank!
      </p>
      <br />
      <%= image_tag 'a4.png', class: 'img-responsive' %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 top tk">
      <p class="info">
        Stuck and can't improve? Upload a video for a lesson!
      </p>
      <br />
      <%= image_tag 'about3.png', class: 'img-responsive' %>
    </div>
  </div>
<br class="clr" />
<div class="col-sm-4 text-center banner">
    <%= image_tag 'golf-2.png', class: 'icons' %>
    <br />
    <h4>Play golf!</h4>
</div>
<div class="col-sm-4 text-center banner">
    <%= image_tag 'analytics.png', class: 'icons' %>
    <br />
    <h4>Track your stats!</h4>
</div>
<div class="col-sm-4 text-center banner">
    <%= image_tag 'hole.png', class: 'icons' %>
    <br />
    <h4>Start Improving!</h4>
</div>
<br /><br /><hr class="hr" />
<p class="info text-center top bottom">
  A Ruby on Rails application developed by <a href="http://wade-carlson.com" target="_blank">Wade Carlson</a>
</p>
