<br />
<div class="container test">
    <br /><br /><br />
    <div class="col-xs-10 col-xs-offset-1 text-center wc">
        <%= image_tag 'me.jpg', class: 'wcpic' %>
        <p class="info tagline">
        "I pride myself on teaching proper form and good fundamentals." &nbsp;&nbsp;&nbsp;-W.C.
        </p>
        <%= image_tag 'pga.png', class: 'pgalogo' %>
    </div>
    <div class="col-xs-10 swings top bottom">
      <div class="col-xs-4 mc">
        <%= image_tag 'swing3.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-8 mc">
        <%= image_tag 'swing2.jpg', class: 'img-responsive' %>
      </div>
    </div>
    <br class="clr" />
    <div class="col-xs-10 col-xs-offset-1 bottom">
      <p class="info">
        PGA Member since 2003. Head Golf Professional at a "Top 100" Facility. Simple, easy to undertand instruction.
        Over 2000 hours of instruction with 125 students.
      </p>
    </div>

    <div class="col-xs-6 col-xs-offset-3 text-center bottom">
      <%= button_to "Sign me up for a video lesson!", { :action => "new", :controller =>"charges" }, :method => :get, class: 'lessonbtn' %>
    </div>
</div>
