<div class="leaders">
  <br />
  <p class="text-center tleader">Current Stat Leaders</p>
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2500">
    <div class="carousel-inner">
      <div class="item active text-center">
        <p>
          <% user, rank = best_scoring_rank_with_index %>
          <b>Scoring Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_greens_rank_with_index %>
          <b>Greens In Regulation -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_faiwrways_rank_with_index %>
          <b>Fairways Hit -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_putting_rank_with_index %>
          <b>Putting Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_birdies_rank_with_index %>
          <b>Birdie Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_pars_rank_with_index %>
          <b>Par Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container">
  <h2>About TrakStats</h2>
  <br />
  <div class="col-xs-8">
    <p class="info">
      TrakStats is a very basic system where all you do is keep track on your scorecard of a few basic
      stats while you play golf. Once you finish, enter your round and over time you will start to see
      averages and trends that should give you some guidance on the areas of your golf game you need to work on.<br><br>How are your scores trending?
      Do you know how many fairways you have hit the last few rounds you have been out? 
      How has your putting been lately? Trakstats priovides accurate analysis of your rounds.
      <%= image_tag 'chart1.png', class: 'img-responsive' %>
      <%= image_tag 'chart2.png', class: 'img-responsive' %>
      <%= image_tag 'chart3.png', class: 'img-responsive' %>
    </p>
    <br />
    <p class="info">
      Be sure to check out the Rankings Section to see how you measure up against other TrakStat users! 
      <br>
      <%= image_tag 'chart4.png', class: 'img-responsive' %>
    </p>
    <p class="info">
      Then take your game to the next level by focuing on the areas of your game that need attention!<br><br>
    </p>
    <div class="bottom chart6">
      <%= image_tag 'chart6.png', class: 'img-responsive' %>
    </div>
    <p class="info">
      TrakStats is completely free to use! If after a while you still find yourself stuck, I
      still teach lessons from time to time. Check out the 'Lessons Section' in the Clubhouse tab (<%= link_to 'Sign-Up Required', new_user_registration_path %> ) to upload a video
      for an online lesson.
    </p>
    <br />
    <p class="info bottom">
      I hope you enjoy using TrakStats!
    </p>
  </div>
</div>
