<br />
<div class="col-xs-10 col-xs-offset-1">
  <div class="lessons">
    <h2>All User Videos</h2>
    <br class="clr" />
    <% @lessons.each do |lesson| %>
    <div class="each-lesson">
      <video id="MY_VIDEO_1" class="video-js vjs-default-skin vjs-big-play-centered" controls
          preload="auto" width="800" height="500" poster="/assets/black.jpg" data-setup="{}">
          <source src="<%= lesson.video.to_s %>" type='video/mp4'>
            <noscript>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p></noscript>
      </video>
        <div class="col-xs-8 bottom">
          <h3><%= lesson.created_at.strftime('%B %_d, %Y')%></h3>
          <p class="info issue">
            <%= lesson.user.name %>-<br />
            <%= lesson.caption %>
          </p>
        </div>
        <div class="col-xs-8 bottom-advice">
          <%= link_to 'Edit Video', edit_lesson_path(lesson), class: 'edits2' %>
          <p class="info advice">
            <%= lesson.advice %>
          </p>
        </div>
      <hr class="hr-split" />
    </div>
    <br class="clr" />
    <% end %>
  </div>
</div>
