<br />
<h2 class="text-center">Scoring - 9 Holes</h2>
<br />
<% @nineholerounds.each do |nineholeround| %>
<div class="thumbnail col-xs-4 top-score2">
    <div class="text-center">
 
    <%= image_tag 'add-user.png' %><br /><%= nineholeround.user.name %> | <%= nineholeround.created_at.strftime("%b %-d, %Y") %>
    </div>
  <hr class="divide" />
  <br />
  <div class="big-score-thumbnail text-center">
    <%= nineholeround.score %>
  </div>
  <div class="score-info">
    <p class="info">
      Fwys Hit - <%= nineholeround.fwys %>/<%= nineholeround.fwystotal %><br />
      Greens Hit-&nbsp;&nbsp;&nbsp;<%= nineholeround.greenshit %>/9<br />
      Putts - <%= nineholeround.putts %><br />
      Birdies - <%= nineholeround.birdies %><br />
      Pars - <%= nineholeround.pars %>
    </p>
    <hr class="hr-divide"/>
    <div class="text-center course-name">
      <p class="info">
        <%= link_to nineholeround.course.upcase, "http://www.google.de/search?q=#{nineholeround.course}", :target => "_blank"  %>
      </p>
      </p>
    </div>
  </div>
</div>
<% end %>
