<br />
<h2 class="text-center">Scoring - 18 Holes</h2>
<br />
<% @rounds.each do |round| %>
<% if round.public? %>
<div class="thumbnail col-xs-4 top-score2">
  <div class="text-center">
    <%= image_tag 'add-user.png' %><br /><%= round.user.name %> | <%= round.created_at.strftime("%b %-d, %Y") %>
  </div>
  <hr class="divide" />
  <br />
  <div class="big-score-thumbnail text-center">
    <%= round.score %>
  </div>
  <div class="score-info">
    <p class="info">
      Fwys Hit - <%= round.fwys %>/<%= round.fwystotal %><br />
      Greens Hit-&nbsp;&nbsp;&nbsp;<%= round.greens %>/18<br />
      Putts - <%= round.putts %><br />
      Birdies - <%= round.birdies %><br />
      Pars - <%= round.pars %>
      <hr class="hr-divide"/>
      <div class="text-center course-name">
        <p class="info">
          <%= link_to round.course.upcase, "http://www.google.com/search?q=#{round.course}", :target => "_blank" %>
        </p>
      </div>
  </div>
</div>
<% end %>
<% end %>
