<% if current_user.rounds.present? %>
<%= current_user.badge_count %>
<br />
<h1 class="text-center">Rounds Played Badges!</h1>
<br />
<section class="scoring-badges text-center">
  <div class="badges text-center">
    <% if current_user.total_rounds >= 5 %>
    <h3 class="text-center">5 Rounds!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    badge_count + 1
    <% else %>
    <h3 class="text-center">5 Rounds!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.total_rounds >= 10 %>
    <h3 class="text-center">10 Rounds!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">10 Rounds!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.total_rounds >= 15 %>
    <h3 class="text-center">15 Rounds!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">15 Rounds!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.total_rounds >= 20 %>
    <h3 class="text-center">20 Rounds!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">20 Rounds!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
</section>
<br />
<h1 class="text-center">Scoring Badges!</h1>
<br />
<section class="scoring-badges text-center">
  <div class="badges text-center">
    <% if current_user.users_best_score <= 85 %>
    <h3 class="text-center">Break 85!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Break 85!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_score <= 80 %>
    <h3 class="text-center">You Broke 80!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Break 80!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_score <= 75 %>
    <h3 class="text-center">You Broke 75!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Break 75!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_score <= 70 %>
    <h3 class="text-center">You Broke 70!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Break 70!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
</section>
<br />
<h1 class="text-center">Greens Hit Badges!</h1>
<br />
<section class="greens-badges text-center">
  <div class="badges text-center">
    <% if current_user.users_best_greens >= 5 %>
    <h3 class="text-center">Hit 5 GIR</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Hit 5 GIR!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_greens >= 7 %>
    <h3 class="text-center">Hit 7 GIR</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Hit 7 GIR!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_greens >= 9 %>
    <h3 class="text-center">Hit 9 GIR</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Hit 9 GIR!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_greens >= 12 %>
    <h3 class="text-center">Hit 12 GIR</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Hit 12 GIR!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
</section>
<br />
<h1 class="text-center">Fairways Hit Badges!</h1>
<br />
<section class="fairways-badges text-center">
  <div class="badges text-center">
    <% if current_user.users_best_fairways >= 5 %>
    <h3 class="text-center">Hit 5 FWY'S!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Hit 5 FWY'S!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_fairways >= 7 %>
    <h3 class="text-center">Hit 7 FWY'S!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Hit 7 FWY'S!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_fairways >= 10 %>
    <h3 class="text-center">Hit 10 FWY'S!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Hit 10 FWY'S!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_fairways >= 14 %>
    <h3 class="text-center">Hit 14 FWY'S!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">Hit 14 FWY'S!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
</section>
<br />
<h1 class="text-center">Putting Badges!</h1>
<br />
<section class="putting-badges text-center">
  <div class="badges text-center">
    <% if current_user.users_best_putting_round <= 30 %>
    <h3 class="text-center">30 Putts!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">30 Putts!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_putting_round <= 28 %>
    <h3 class="text-center">28 Putts!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">28 Putts!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_putting_round <= 26 %>
    <h3 class="text-center">26 Putts!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">26 Putts!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_putting_round <= 24 %>
    <h3 class="text-center">24 Putts!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">24 Putts!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
</section>
<br />
<h1 class="text-center">Birdie Badges!</h1>
<br />
<section class="birdie-badges text-center">
  <div class="badges text-center">
    <% if current_user.users_best_birdie_total >= 1 %>
    <h3 class="text-center">1 Birdie!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">1 Birdie!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_birdie_total >= 2 %>
    <h3 class="text-center">2 Birdies!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">2 Birdies!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_birdie_total >= 3 %>
    <h3 class="text-center">3 Birdies!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">3 Birdies!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_birdie_total >= 4 %>
    <h3 class="text-center">4 Birdies!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">4 Birdies!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_birdie_total >= 5 %>
    <h3 class="text-center">5 Birdies!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">5 Birdies!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
</section>
<br />
<h1 class="text-center">Par Badges!</h1>
<br />
<section class="par-badges text-center bottom">
  <div class="badges text-center">
    <% if current_user.users_best_par_total >= 5 %>
    <h3 class="text-center">5 Pars!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">5 Pars!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_par_total >= 6 %>
    <h3 class="text-center">6 Pars!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">6 Pars!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_par_total >= 7 %>
    <h3 class="text-center">7 Pars!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">7 Pars!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_par_total >= 8 %>
    <h3 class="text-center">8 Pars!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">8 Pars!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_par_total >= 10 %>
    <h3 class="text-center">10+ Pars!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">10+ Pars!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
  <div class="badges text-center">
    <% if current_user.users_best_par_total >= 12 %>
    <h3 class="text-center">12+ Pars!</h3>
    <%= image_tag 'trophy.png', class: 'trophy' %>
    <% else %>
    <h3 class="text-center">12+ Pars!</h3>
    <%= image_tag 'x.png', class: 'trophy' %>
    <% end %>
  </div>
</section>
<% else %>
<h1 class="text-center">Add rounds to collect badages!</h1>
<%= link_to new_round_path do %>
<div class="col-xs-6 col-xs-offset-3 new-round">
  <br />
  <p class="links text-center">
    Post A New Round!
  </p>
</div>
<% end %>
<% end %>
