<div id="birds" class="col-xs-8 col-xs-offset-2 member-stats">
  <h2>Birdie Average</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% birdies_rank_with_index do |(user, avg), i| %>
  <% if user_signed_in? && user.name == current_user.name %>
  <tr class="text-center">
    <td class="yellow"><%= i %></td>
    <td class="yellow"><%= user.name %></td>
    <td class="yellow"><%= avg.round(2) %></td>
    <td class="yellow"><%= user.total_rounds %></td>
  </tr>
  <% else %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>
<div class="col-xs-12 text-center linkavg fitz">
  <%= link_to 'Scoring Avg', scoringavg_path, class: 'btn btn-default' %>
  <%= link_to 'Greens Avg', greensavg_path, class: 'btn btn-default' %>
  <%= link_to 'Fwys Avg', fwysavg_path, class: 'btn btn-default' %>
  <%= link_to 'Putts Avg', puttsavg_path, class: 'btn btn-default' %>
  <%= link_to 'Par Avg', paravg_path, class: 'btn btn-default' %>
</div>
