<div class="leaders">
  <br />
  <p class="text-center tleader">Current Stat Leaders</p>
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active text-center">
        <p>
          <% user, rank = best_scoring_rank_with_index %>
          <b>Scoring Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_greens_rank_with_index %>
          <b>Greens In Regulation -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_faiwrways_rank_with_index %>
          <b>Fairways Hit -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_putting_rank_with_index %>
          <b>Putting Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_birdies_rank_with_index %>
          <b>Birdie Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_pars_rank_with_index %>
          <b>Par Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
    </div>
  </div>
</div>
<div id="greens" class="col-xs-8 col-xs-offset-2 member-stats">
  <h2>Greens Average</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% greens_rank_with_index do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>
<div class="col-xs-12 text-center linkavg fitz">
  <%= link_to 'Scoring Avg', scoringavg_path, class: 'links' %>
  <%= link_to 'Fwys Avg', fwysavg_path, class: 'links' %>
  <%= link_to 'Putts Avg', puttsavg_path, class: 'links' %>
  <%= link_to 'Birdie Avg', birdieavg_path, class: 'links' %>
  <%= link_to 'Par Avg', paravg_path, class: 'links' %>
</div>
