<br />
<div class="container">
  <h2>Your Path To Improvement</h2>
  <br />
  <% if current_user.rounds.present? %>
  <div class="col-xs-10">
    <p class="info">
      When you are trying to reach a scoring goal, it is important to know your stats and the stats for that next level
      that you are trying to achieve. By knowing your stats, it helps you to stay focused on what areas
      of your game need attention.
    </p>
    <p class="info">
      What score are you trying to shoot?
      Your current scoring average is <%= current_user.scoring_average_rounded %>.
    </p>
    <br />
    <div>
      <div class="col-xs-4">
        <button type="button" class="btn btn-default" style="width: 200px; height: 50px;" data-toggle="modal" data-target="#break70">
          Break 70
        </button><br /><br />
        <button type="button" class="btn btn-default" style="width: 200px; height: 50px;" data-toggle="modal" data-target="#break75">
          Break 75
        </button><br /><br />
        <button type="button" class="btn btn-default" style="width: 200px; height: 50px;" data-toggle="modal" data-target="#break80">
          Break 80
        </button>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-4">
        <button type="button" class="btn btn-default" style="width: 200px; height: 50px;" data-toggle="modal" data-target="#break85">
          Break 85
        </button><br /><br />
        <button type="button" class="btn btn-default" style="width: 200px; height: 50px;" data-toggle="modal" data-target="#break90">
          Break 90
        </button><br /><br />
        <button type="button" class="btn btn-default" style="width: 200px; height: 50px;" data-toggle="modal" data-target="#break100">
          Break 100
        </button>
      </div>
    </div>
  </div>
  <br class="clr"/>
  <div class="col-xs-10 top bottom">
    <p class="info">
      Another way to lower your scores is to play a tee that is appropraite for the distance that you hit
      the golf ball. Most golfers play a course that is too long for them. If you are hitting long irons and
      fairway woods into par 4's, it's time to assess what tees you should be playing.
    </p>
    <p class="info">
      Use the calculator to help you determine the proper course yardage you should be playing.
    </p>
    <br /><br />
    <form id="courseYardage" action="" class="info">
    <fieldset>
      <legend>Course Yardage Calculator</legend>
      <p>
        <label for="length">Avg Driver Distance (yds)</label>
        <input id="length" name="length" type="number" />
      </p>
      <p>
        <label for="iron">Avg 7 Iron Distance (yds)</label>
        <input id="iron" name="iron" type="number" />
      </p>
      <p>
        <input type="submit" value="Calculate yardage" />
        or
        <input type="reset" value="Reset" />
      </p>
      <p>
        <label for="distance">Your Ideal Course Yardage (yds)</label>
        <input id="distance" name="distance" type="number" />
      </p>
    </fieldset>
    </form>
    <p>* from Golf Channel Morning Drive and multiple online resources.
    </p>
  </div>
</div>


<!-- 100  Modal -->
<div class="modal fade" id="break100" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Break 100</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="info">
          <p>Stats for the player that averages 100. Your current stats are in parenthesis. This
          should help you focus on what your weaknesses are for this scoring goal.</p>
          <li>Green's hit - 0&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.greens_hit_average_rounded %>)</li>
          <li>Fwy's hit - 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.fwys_hit_average_rounded %>)</li>
          <li>Putts - 38.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.putting_average_rounded %>)</li>
          <li>Birdies - 0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.birdie_average_rounded %>)</li>
          <li>Pars - 1.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.par_average_rounded %>)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- 90 Modal -->
<div class="modal fade" id="break90" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Break 90</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="info">
          <p>Stats for the player that averages 90. Your current stats are in parenthesis. This
          should help you focus on what your weaknesses are for this scoring goal.</p>
          <li>Green's hit - 3&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.greens_hit_average_rounded %>)</li>
          <li>Fwy's hit - 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.fwys_hit_average_rounded %>)</li>
          <li>Putts - 35&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.putting_average_rounded %>)</li>
          <li>Birdies - 0.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.birdie_average_rounded %>)</li>
          <li>Pars - 4.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.par_average_rounded %>)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- 85 Modal -->
<div class="modal fade" id="break85" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Break 85</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="info">
          <p>Stats for the player that averages 85. Your current stats are in parenthesis. This
          should help you focus on what your weaknesses are for this scoring goal.</p>
          <li>Green's hit - 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.greens_hit_average_rounded %>)</li>
          <li>Fwy's hit - 6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.fwys_hit_average_rounded %>)</li>
          <li>Putts - 33.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.putting_average_rounded %>)</li>
          <li>Birdies - 0.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.birdie_average_rounded %>)</li>
          <li>Pars - 6.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.par_average_rounded %>)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- 80 Modal -->
<div class="modal fade" id="break80" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Break 80</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="info">
          <p>Stats for the player that averages 80. Your current stats are in parenthesis. This
          should help you focus on what your weaknesses are for this scoring goal.</p>
          <li>Green's hit - 8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.greens_hit_average_rounded %>)</li>
          <li>Fwy's hit - 8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.fwys_hit_average_rounded %>)</li>
          <li>Putts - 32&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.putting_average_rounded %>)</li>
          <li>Birdies - 1.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.birdie_average_rounded %>)</li>
          <li>Pars - 8.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.par_average_rounded %>)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- 75 Modal -->
<div class="modal fade" id="break75" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Break 75</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="info">
          <p>Stats for the player that averages 75. Your current stats are in parenthesis. This
          should help you focus on what your weaknesses are for this scoring goal.</p>
          <li>Green's hit - 10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.greens_hit_average_rounded %>)</li>
          <li>Fwy's hit - 10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.fwys_hit_average_rounded %>)</li>
          <li>Putts - 30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.putting_average_rounded %>)</li>
          <li>Birdies - 2.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.birdie_average_rounded %>)</li>
          <li>Pars - 10.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.par_average_rounded %>)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- 70 Modal -->
<div class="modal fade" id="break70" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Break 70</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="info">
          <p>Stats for the player that averages 70. Your current stats are in parenthesis. This
          should help you focus on what your weaknesses are for this scoring goal.</p>
          <li>Green's hit - 12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.greens_hit_average_rounded %>)</li>
          <li>Fwy's hit - 11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.fwys_hit_average_rounded %>)</li>
          <li>Putts - 29&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.putting_average_rounded %>)</li>
          <li>Birdies - 3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.birdie_average_rounded %>)</li>
          <li>Pars - 11.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= current_user.par_average_rounded %>)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% else %>

<br />
<div class="linkavg text-center">
  <p class="info">
    You need to post a score to see what you have to work on!
  </p><br />
  <%= link_to 'Post 9 Hole Score', new_nineholeround_path, class: 'btn btn-default' %>
  <%= link_to 'Post 18 Hole Score', new_round_path, class: 'btn btn-default' %>
</div>
<% end %>
