<script>
$(function($) {
  $(".card").flip({
    axis: 'y'
  });
});
</script>
<div class="responsive-scale"></div>
<div class="leaders">
  <br />
  <p class="text-center tleader">Current Stat Leaders</p>
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active text-center">
        <p>
          <% user, rank = best_scoring_rank_with_index %>
          <b>Scoring Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_greens_rank_with_index %>
          <b>Greens In Regulation -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_faiwrways_rank_with_index %>
          <b>Fairways Hit -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_putting_rank_with_index %>
          <b>Putting Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_birdies_rank_with_index %>
          <b>Birdie Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
      <div class="item text-center">
        <p>
          <% user, rank = best_pars_rank_with_index %>
          <b>Par Average -</b> <%= user.name %>
          (<%= rank %>)
        </p>
      </div>
    </div>
  </div>
</div>
<br class="clr" />
<h1 class="text-center top">Last 5 Member Rounds</h1>
<p class="text-center">
  (click to view round stats)
</p>
<% @rounds.each do |round| %>
<div class="card col-xs-6 col-xs-offset-3">
  <div class="front each-round-front text-center">
    <div class="col-xs-6 top-score2 info">
      <% if round.user.picture.present? %>
      <%= image_tag round.user.picture %><br /><%= round.user.name %><br />  <%= round.created_at.strftime("%b %-d, %Y") %>
      <% else %>
      <%= image_tag 'add-user.png' %><br /><%= round.user.name %><br />  <%= round.created_at.strftime("%b %-d, %Y") %>
      <% end %>
    </div>
    <div class="col-xs-6 round-score">
      <p class="big-score"><%= round.score %></p>
      <p class="info"><%= round.course %></p>
    </div>
  </div>
  <div class="back each-round-back justify">
    <div class="col-xs-6 top-score">
      <h1 class="text-center">Round<br />Stats</h1>
    </div>
    <div class="col-xs-6">
      <br />
      <p class="info">
        Fwy's Hit-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= round.fwys %>/<%= round.fwystotal %><br />
        Greens Hit-&nbsp;&nbsp;&nbsp;<%= round.greens %>/18<br />
        Putts-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= round.putts %><br />
        Birdies-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= round.birdies %><br />
        Pars-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= round.pars %>
      </p>
    </div>
  </div>
</div>
<% end %>
<br class="clr" />
<div class="footer linkavg">
  <div class="text-center top footer-links">
    <br /><br /><br />
    <%= link_to 'View All Rounds', allrounds_path %>
    <%= link_to 'My Profile', dashboard_path, class: 'links' %>
  </div>
</div>
