
<div class="responsive-scale"></div>
<h3 class="text-center">Saguaro  |  Wekopa - We-Ko-Pa Golf Club</h3>
<div class="leaderboard col-xs-10 col-xs-offset-1">
  <h2 class="text-center">Last 10 Member Scores</h2>
    <hr />
    <div class="col-xs-4 text-center">
      <h3>Name</h3>
      --------------
      <br />
      <% @rounds.each do |round| %>
      <h4><%= round.user.name %></h4>
      <% end %>
    </div>
    <div class="col-xs-4 text-center">
      <h3>Course</h3>
      --------------
      <br />
      <% @rounds.each do |round| %>
      <h4><%= round.course %></h4>
      <% end %>
    </div>
    <div class="col-xs-4 text-center">
      <h3>Score</h3>
      --------------
      <br />
      <% @rounds.each do |round| %>
      <h4><%= round.score %></h4>
      <% end %>
    </div>
</div>

<!-- Chart showing averages -->

<div class="col-xs-10 col-xs-offset-1">
  <h3 class="text-center">Scores By Course</h3>
  <%= bar_chart Round.group(:course).sum(:score), colors: ["blue"] %>
</div>
  <br />
  <div class="col-xs-10 col-xs-offset-1">
    <h3 class="text-center">Putting Average By Course</h3>
    <%= bar_chart Round.group(:course).sum(:putts), colors: ["green"] %>
  </div>
  <br />

<div class="leaderboard last-stat col-xs-10 col-xs-offset-1">
  <h2 class="text-center">Member Chatter</h2>
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <%= simple_form_for Message.new do |f| %>
    <%= f.error_notification %>
      <%= f.input :message, required: true, placeholder: 'Add a message here for other members to see!' %>
      <br />
      <%= f.submit 'Add Message', class: 'btn btn-primary' %>
      <% end %>
  </div>


    <div class="col-xs-6 info">
      <h3>Latest Messages</h3>
      --------------
      <% @messages.each do |message| %>
        <div class="comment">
          <span class="comment_handle">
            <%= message.user.name %> -
          </span>
         " <%= message.message %> "
        </div>
      <% end %>
    </div>
</div>
