<div class="responsive-scale"></div>
<div class="leaders">
<br />
<p class="text-center tleader">TrakStats Leaders</p>
<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active text-center">
      <p>
        <% user, rank = best_scoring_rank_with_index %>
        <b>Scoring Average -</b> <%= user.name %>
        (<%= rank %>)
      </p>
    </div>
    <div class="item text-center">
      <p>
        <% user, rank = best_greens_rank_with_index %>
        <b>Greens In Regulation -</b> <%= user.name %>
        (<%= rank %>)
      </p>
    </div>
    <div class="item text-center">
      <p>
        <% user, rank = best_faiwrways_rank_with_index %>
        <b>Fairways Hit -</b> <%= user.name %>
        (<%= rank %>)
      </p>
    </div>
    <div class="item text-center">
      <p>
        <% user, rank = best_putting_rank_with_index %>
        <b>Putting Average -</b> <%= user.name %>
        (<%= rank %>)
      </p>
    </div>
    <div class="item text-center">
      <p>
        <% user, rank = best_birdies_rank_with_index %>
        <b>Birdie Average -</b> <%= user.name %>
        (<%= rank %>)
      </p>
    </div>
    <div class="item text-center">
      <p>
        <% user, rank = best_pars_rank_with_index %>
        <b>Par Average -</b> <%= user.name %>
        (<%= rank %>)
      </p>
    </div>
  </div>
</div>
</div>
    <div class="first-chart col-xs-10 col-xs-offset-1">
        <h3> - Latest Scores - </h3>
      <table class="table1">
        <tr class="table-title">
          <th>Date</th>
          <th>Name</th>
          <th>Course</th>
          <th>Score</th>
        </tr>
      <% @rounds.each do |round| %>
        <tr class="text-center">
          <td><%= round.created_at.strftime("%-m/%-d/%y") %></td>
          <td><%= round.user.name %></td>
          <td><%= round.course %></td>
          <% if user_signed_in? %>
          <td class="round-link"><%= link_to round.score, round_path(round) %></td>
          <% else %>
          <td><%= round.score %></td>
          <% end %>
        </tr>
      <% end %>
      </table>
    </div>

<% if user_signed_in? %>
<div class="col-xs-12 splitter">
  <div id ="conversation" class="last-stat col-xs-12">
      <div class="col-xs-12 info">
        <h3>- Say something! -</h3>
          <% @messages.each do |message| %>
          <div class="comment">
            <span class="comment_handle">
              <%=message.created_at.strftime("%-m/%-d") %> | <%= message.user.name %> -
            </span>
           "<%= message.message %>"
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 messages">
        <%= simple_form_for Message.new do |f| %>
        <%= f.error_notification %>
        <%= f.input :message, required: true %>
        <br />
        <%= f.submit 'Add Message', class: 'btn btn-primary msgbtn' %>
        <% end %>
      </div>
  </div>
</div>
<% else %>
<div class="col-xs-12 newpage">
  <br /><br />
  <h1 class="text-center">Welcome to TrakStats!</h1>
    <h3 class="text-center"><%= link_to 'Register', new_user_registration_path, class: 'about-link' %> or <%= link_to 'Sign-in', new_user_session_path, class: 'about-link' %> to get started....<br />New to TrakStats? Visit the <%= link_to 'About Page', about_path, class: 'about-link' %><br />to see what we're about.</h3>
</div>
<% end %>
