<% if user_signed_in? %>
<section class="get-back">
  <div>
    <br /><br />
    <h1 class="text-center big-text">WELCOME BACK <%= current_user.first_name.upcase %>.<br />LET'S START TRACKING.</h1>
    <%= link_to new_round_path do %>
    <div class="col-xs-6 col-xs-offset-3 new-round">
      <br />
      <p class="links text-center">
        Post A New Round!
      </p>
    </div>
    <% end %>
  </div>
</section>
<% else %>
<section class="first-section">
    <h1 class="text-center big-text">
      RECORD YOUR ROUND<br />
      TRACK YOUR STATS<br />
      START TO IMPROVE
    </h1>
    <div class="sign-in text-center">
      <%= link_to new_user_session_path do %>
      <%= image_tag 'signin.png' %>
      <% end %>
    </div>
</section>
<section class="second-section">
  <div class="container">
    <h1 class="text-center big-text">RECORD YOUR ROUND</h1>
    <div class="col-xs-5 top">
      <p class="landing-info1">
        Play golf and enter your stats. Keep track of your scores, how many greens and fairways you hit as well as total putts, birdies and pars for your round.
      </p>
    </div>
    <div class="col-xs-5 text-center big-icons1">
      <%= image_tag 'news.png' %>
    </div>
  </div>
</section>
<section class="third-section">
  <div class="container">
    <h1 class="text-center big-text">TRACK YOUR STATS</h1>
    <div class="col-xs-5 text-center big-icons2">
      <%= image_tag 'analytics.png' %>
    </div>
    <div class="col-xs-5 pull-right top">
      <p class="landing-info2">
        Keep track of your averages and see how you rank versus other TrakStat users.
        Collect Badges to help you stay motivated! 
      </p>
    </div>
  </div>
</section>
<section class="last-section">
  <div>
    <h1 class="text-center big-text">START TO IMPROVE</h1>
    <div class="col-xs-8 big-icons3 text-center">
      <%= image_tag 'golf.png' %>
    </div>
    <div class="col-xs-3 big-icons3">
      <p class="landing-info2 pull-right lastp">
        Get started today for free! <br /><br />Join the fastest growing online
        golf stat tracking community.<br /><br />
        <%= link_to 'SIGN IN', new_user_session_path, class: 'sign-in' %>
      </p>
    </div>
  </div>
</section>
<% end %>
