
<div class="col-xs-10 col-xs-offset-1 fitz">
  <div class="lessons fitz">
    <% if current_user.lessons.present? %>
    <h3><%= current_user.name %>'s Lesson Dashboard</h3>
    <% else %>
    <br /><br  />
    <p class="info">
      You have no videos uploaded! Check out our <%= link_to 'VIDEO LESSON', new_charge_path %> section to add one.
    </p>
    <% end %>
    <% if current_user.lessons.present? %>
    <br class="clr" />
    <% current_user.lessons.each do |lesson| %>
    <div class="each-lesson">
      <video id="MY_VIDEO_1" class="video-js vjs-default-skin vjs-big-play-centered" controls
          preload="auto" width="800" height="500" poster="/assets/black.jpg" data-setup="{}">
          <source src="<%= lesson.video.to_s %>" type='video/mp4'>
            <noscript>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p></noscript>
      </video>
      <div class="advice">
        <div class="col-xs-8 top bottom">
          <h3><%= lesson.created_at.strftime('%B %_d, %Y')%></h3>
          <p class="info advice">
            <%= lesson.advice %>
          </p>
        </div>
      </div>
    </div>
    <br class="clr" />
    <% end %>
  </div>
  <% end %>
</div>
