<br />
<h1 class="text-center">TrakStats Lessons</h1>
<br /><br />
<div class="container test">
    <div class="col-xs-10 col-xs-offset-1 bottom">
      <div>
        <div class="col-xs-6">
          <%= image_tag 'pga.png', class: 'img-responsive' %>
        </div>
        <div class="col-xs-6 text-center wc">
          <%= image_tag 'me.jpg', class: 'wcpic' %>
        </div>
      </div>
      <div class="col-xs-10 swings top bottom">
        <div class="col-xs-4 mc">
          <%= image_tag 'swing3.png', class: 'img-responsive' %>
        </div>
        <div class="col-xs-8 mc">
          <%= image_tag 'swing2.jpg', class: 'img-responsive' %>
        </div>
      </div>
      <br class="clr" />
      <div>
        <p class="info tagline">
        "I pride myself on teaching proper form and good fundamentals." &nbsp;&nbsp;&nbsp;-W.C.
        </p>
      </div>
      <br />
      <br class="clr" />
        <br />
        <p class="info">
          Wade Carlson has been a PGA professional since 2003. After graduating from MSU's PGA/PGM Program, he went on to serve as the Head Golf Professional
          at Limestone Springs (Oneonta, AL) and The Highlands (Starkville, MS). Currently a full time Ruby on Rails Developer, Wade still teaches in his spare time.
          If you would like him to take a look at your swing online, click to sign-up for a video lesson. Thanks for your interest in TrakStats lessons!
        </p>
    <br />
    <br />
    <%= button_to "I want a lesson!", { :action => "new", :controller =>"charges" }, :method => :get, class: 'lessonbtn' %>
  </div>
</div>
<% if current_user.lessons.present? %>
  <hr class="hr" />
<div class="container">
  <div class="col-xs-10 col-xs-offset-1 lessons">
    <h2 class="text-center">Your Lessons</h2>
    <br class="clr" />
    <% current_user.lessons.each do |lesson| %>
    <div class="each-lesson">
      <video id="MY_VIDEO_1" class="video-js vjs-default-skin vjs-big-play-centered vjs-fluid" controls
          preload="auto" width="1000" height="500" poster="/assets/black.jpg" data-setup="{}">
          <source src="<%= lesson.video.to_s %>" type='video/mp4'>
            <noscript>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p></noscript>
      </video>
      <div class="advice">
        <div class="col-xs-6 text-center top bottom">
          <p class=" info advice">
            <h3>What you struggle with.....</h3>
            <%= lesson.caption %>
          </p>
        </div>
        <div class="col-xs-6 text-center top bottom">
        <h3>Here's my advice...</h3>
          <p class="info advice">
            <%= lesson.advice %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
