<div class="container test">
    <div class="col-xs-10 col-xs-offset-1 text-center wc">
      <%= image_tag 'pga.png', class: 'pgalogo' %>
        <%= image_tag 'me.jpg', class: 'wcpic' %>
        <p class="info tagline">
        "I pride myself on teaching proper form and good fundamentals." &nbsp;&nbsp;&nbsp;-W.C.
        </p>

    </div>
    <div class="col-xs-10 swings top bottom">
      <div class="col-xs-4 mc">
        <%= image_tag 'swing3.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-8 mc">
        <%= image_tag 'swing2.jpg', class: 'img-responsive' %>
      </div>
    </div>
    <br class="clr" />
</div>

  <div class="col-xs-6 col-xs-offset-3 text-center top bottom">
    <%= button_to "Upload a video!", { :action => "new", :controller =>"charges" }, :method => :get, class: 'lessonbtn' %>
    <p class="info">
      <br />
    </p>
  </div>
  <hr class="hr" />
<div class="col-xs-10 col-xs-offset-1">
  <div class="lessons">
    <h3>Saved Lessons For <%= current_user.name %></h3>
    <% if current_user.lessons.present? %>
    <br class="clr" />
    <% current_user.lessons.each do |lesson| %>
    <div class="each-lesson">
      <video id="MY_VIDEO_1" class="video-js vjs-default-skin vjs-big-play-centered" controls
          preload="auto" width="800" height="500" poster="/assets/black.jpg" data-setup="{}">
          <source src="<%= lesson.video.to_s %>" type='video/mp4'>
            <noscript>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p></noscript>
      </video>
      <div class="advice">
        <div class="col-xs-8 top bottom">
          <h3><%= lesson.created_at.strftime('%B %_d, %Y')%></h3>
          <p class="info advice">
            <%= lesson.advice %>
          </p>
        </div>
      </div>
    </div>
    <br class="clr" />
    <% end %>
  </div>
  <% end %>
</div>
