<br />
<h1 class="text-center"> Player Rankings</h1>
<br />

<div class="member-stats">
  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Scoring Average</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Scoring Average</th>
      </tr>

      <% Round.group(:user).average(:score).sort_by{|k, v|}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= avg %></td>
        <% else %>
        <td>0</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Greens in Reg</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Greens Avg</th>
      </tr>
    <% Round.group(:user).average(:greens).sort_by{|k, v|}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= avg %></td>
        <% else %>
        <td>0%</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="member-stats">
  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Driving Accuracy</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class ="scores">Fwys Avg</th>
      </tr>
    <% Round.group(:user).average(:fwys).sort_by{|k, v|}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= avg %></td>
        <% else %>
        <td>0%</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Putting</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Putts Avg</th>
      </tr>
    <% Round.group(:user).average(:putts).sort_by{|k, v|}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= avg %></td>
        <% else %>
        <td>0</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="member-stats">
  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Birdie Average</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Birdie Average</th>
      </tr>
      <% Round.group(:user).average(:birdies).sort_by{|k, v| -v}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= avg %></td>
        <% else %>
        <td>0</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Par Average</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Par Avg</th>
      </tr>
    <% Round.group(:user).average(:pars).sort_by{|k, v| -v}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= user.par_average_rounded %></td>
        <% else %>
        <td>0</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>
