<br />
<h1 class="text-center"> Player Rankings</h1>
<br />

<div class="member-stats">
  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Scoring Average</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Scoring Average</th>
      </tr>
      <% @users.each.with_index(1) do |user, index| %>
      <tr class="text-center">
        <td><%= index %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= user.scoring_average_rounded %></td>
        <% else %>
        <td>0</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Greens in Reg</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Greens Avg</th>
      </tr>
    <% @users.each.with_index(1) do |user, index| %>
      <tr class="text-center">
        <td><%= index %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= user.greens_hit_average_rounded %>%</td>
        <% else %>
        <td>0%</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="member-stats">
  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Driving Accuracy</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class ="scores">Fwys Avg</th>
      </tr>
    <% @users.each.with_index(1) do |user, index| %>
      <tr class="text-center">
        <td><%= index %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= user.fwys_hit_average_rounded %>%</td>
        <% else %>
        <td>0%</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Putting</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Putts Avg</th>
      </tr>
    <% @users.each.with_index(1) do |user, index| %>
      <tr class="text-center">
        <td><%= index %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= user.putting_average_rounded %></td>
        <% else %>
        <td>0</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="member-stats">
  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Birdie Average</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Birdie Average</th>
      </tr>
      <% @users.each.with_index(1) do |user, index| %>
      <tr class="text-center">
        <td><%= index %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= user.birdie_average_rounded %></td>
        <% else %>
        <td>0</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-6 member-stats">
    <h2 class="text-center">Par Average</h2>
    <table>
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Par Avg</th>
      </tr>
    <% @users.each.with_index(1) do |user, index| %>
      <tr class="text-center">
        <td><%= index %></td>
        <td><%= user.name %></td>
        <% if user.rounds.present? %>
        <td><%= user.par_average_rounded %></td>
        <% else %>
        <td>0%</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>
