<br />
<div class="member-stats">
  <div class="col-xs-6 member-stats">
    <h2>Scoring Average</h2>
    <table class="table1">
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Avg</th>
        <th class="scores">Rnds</th>
      </tr>

      <% Round.group(:user).average(:score).sort_by{|k, v|}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <td><%= avg %></td>
        <td><%= user.total_rounds %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-6 member-stats">
    <h2>Greens in Reg</h2>
    <table class="table1">
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Avg</th>
        <th class="scores">Rnds</th>
      </tr>
    <% Round.group(:user).average(:greens).sort_by{|k, v|}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <td><%= avg %></td>
        <td><%= user.total_rounds %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="member-stats">
  <div class="col-xs-6 member-stats">
    <h2>Driving Accuracy</h2>
    <table class="table1">
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class ="scores">Avg</th>
        <th class="scores">Rnds</th>
      </tr>
    <% Round.group(:user).average(:fwys).sort_by{|k, v|}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <td><%= avg %></td>
        <td><%= user.total_rounds %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-6 member-stats">
    <h2>Putting</h2>
    <table class="table1">
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Avg</th>
        <th class="scores">Rnds</th>
      </tr>
    <% Round.group(:user).average(:putts).sort_by{|k, v|}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <td><%= avg %></td>
        <td><%= user.total_rounds %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="member-stats">
  <div class="col-xs-6 member-stats">
    <h2>Birdie Average</h2>
    <table class="table1">
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Avg</th>
        <th class="scores">Rnds</th>
      </tr>
      <% Round.group(:user).average(:birdies).sort_by{|k, v| -v}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <td><%= avg %></td>
        <td><%= user.total_rounds %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-6 member-stats">
    <h2>Par Average</h2>
    <table class="table1">
      <tr class="table-title">
        <th class="rank">Rank</th>
        <th class="scores">Name</th>
        <th class="scores">Avg</th>
        <th class="scores">Rnds</th>
      </tr>
    <% Round.group(:user).average(:pars).sort_by{|k, v| -v}.each.with_index(1) do |(user, avg), i| %>
      <tr class="text-center">
        <td><%= i %></td>
        <td><%= user.name %></td>
        <td><%= avg %></td>
        <td><%= user.total_rounds %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
