<br /><br />
  <div class="container">
    <%= link_to edit_user_registration_path do %>
    <div class="col-xs-6 col-xs-offset-3 box">
      <br />
        <% if current_user.picture.present? %>
      <div class="user-photo">
          <%= image_tag current_user.picture %>
      </div>
      <% else %>
      <%= image_tag 'add-user.png', class: 'user' %>
      <% end %>
      <h1><%= current_user.name %></h1>
      <h5>Member since: <%= current_user.created_at.strftime("%m/%d/%Y") %>&nbsp;&nbsp;&nbsp;<%= image_tag 'edit.png', class: 'editing' %></h5>
    </div>
    <% end %>
    <%= link_to new_nineholeround_path do %>
    <div class="col-xs-6 col-xs-offset-3 new-round">
      <br />
      <p class="links text-center">
        Post A New 9 Hole Score!
      </p>
    </div>
    <% end %>
  </div>

  <br class="clr" />
  <% if current_user.nineholerounds.present? %>
  <div class="container">
    <hr />
    <div class="top col-xs-5 col-xs-offset-1">
      <p class="info text-center">
        Stat Averages For 9 Holes Only
      </p>
      <div class="each-average text-center">
          <p class="info">Scoring Average</p>
          <p class=" big-score"><%= current_user.scoring_average_nine_holes_rounded %></p>
      </div>
      <div class="each-average text-center">
          <p class="info">Greens Hit Average</p>
          <p class=" big-score"><%= current_user.greens_hit_average_nine_holes_rounded %></p>
      </div>
      <div class="each-average text-center">
          <p class="info">Fwy's Hit Average</p>
          <p class=" big-score"><%= current_user.fwys_hit_average_nine_holes_rounded %></p>
      </div>
      <div class="each-average text-center">
          <p class="info">Putting Average</p>
          <p class=" big-score"><%= current_user.putting_average_nine_holes_rounded %></p>
      </div>
      <div class="each-average text-center">
          <p class="info">Birdie Average</p>
          <p class=" big-score"><%= current_user.birdie_average_nine_holes_rounded %></p>
      </div>
      <div class="each-average text-center">
          <p class="info">Par Average</p>
          <p class=" big-score"><%= current_user.par_average_nine_holes_rounded %></p>
      </div>
    </div>
    <div class="col-xs-5 top">
      <p class="info text-center">
        Personal Best For 9 Holes Only
      </p>
      <div class="each-best text-center">
          <p class="info">Low Score</p>
          <p class=" big-score"><%= current_user.users_best_score_nine_holes %></p>
      </div>
      <div class="each-best text-center">
          <p class="info">Most Green's Hit</p>
          <p class=" big-score"><%= current_user.users_best_greens_nine_holes %></p>
      </div>
      <div class="each-best text-center">
          <p class="info">Most Fairway's Hit</p>
          <p class=" big-score"><%= current_user.users_best_fairways_nine_holes %></p>
      </div>
      <div class="each-best text-center">
          <p class="info">Least Putts</p>
          <p class=" big-score"><%= current_user.users_best_putting_round_nine_holes %></p>
      </div>
      <div class="each-best text-center">
          <p class="info">Most Birdies</p>
          <p class=" big-score"><%= current_user.users_best_birdie_total_nine_holes %></p>
      </div>
      <div class="each-best text-center">
          <p class="info">Most Pars</p>
          <p class=" big-score"><%= current_user.users_best_par_total_nine_holes %></p>
      </div>
    </div>
    <%= link_to new_nineholeround_path do %>
    <div class="col-xs-6 col-xs-offset-3 new-round">
      <br />
      <p class="links text-center">
        Post A New 9 Hole Score!
      </p>
    </div>
    <% end %>
  </div>
  <br class="clr" />
  <% end %>

  <% @yearly_nineholerounds.each do |year, nineholeround| %>
 <h1 class="text-center"><%= year %></h1>
   <div>
     <table class="col-xs-10 col-xs-offset-1 table2">
       <tr class="table-title">
         <th>Date</th>
         <th>Course</th>
         <th>Score</th>
         <th>Greens</th>
         <th>Fwys</th>
         <th>Putts</th>
         <th>Birdies</th>
         <th>Pars</th>
       </tr>
       <tr class="text-center">
         <% nineholeround.each do |nineholeround| %>
         <td class="text-center"><%= nineholeround.created_at.strftime('%_m/%-d') %>&nbsp;&nbsp;&nbsp;<%= link_to(image_tag("trash.png", class: 'trash'), nineholeround_path(nineholeround), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}) %></td>
         <td class="text-center"><%= nineholeround.course %>&nbsp;&nbsp;&nbsp;<%=link_to(image_tag("mag.png", class: 'pencil'), nineholeround_path(nineholeround)) %></td>
         <% if nineholeround.public == true %>
         <td class="text-center"><%= nineholeround.score %>&nbsp;&nbsp;&nbsp;<%= link_to(image_tag("edit.png", class: 'pencil'), edit_nineholeround_path(nineholeround), class: 'pencil') %></td>
         <% else %>
         <td class="text-center private"><%= nineholeround.score %>&nbsp;&nbsp;&nbsp;<%= link_to(image_tag("edit.png", class: 'pencil'), edit_nineholeround_path(nineholeround), class: 'pencil') %></td>
         <% end %>
         <td class="text-center"><%= nineholeround.greenshit %> / 9</td>
         <td class="text-center"><%= nineholeround.fwys %> / <%= nineholeround.fwystotal %></td>
         <td class="text-center"><%= nineholeround.putts %></td>
         <td class="text-center"><%= nineholeround.birdies %></td>
         <td class="text-center"><%= nineholeround.pars %></td>
       </tr>
   <% end %>
   </table>
  <% end %>
