<div  id="noted" class="container top bottom info">
  <h2>Notes</h2>
  <br />
    <% current_user.notes.each do |note| %>
    <p class="info">
      <%= note.message %><br />
    </p>
    <% end %>
</div>
<div class="container top">
  <h2>Trends</h2>
  <p class="info" style="color: firebrick;">
    <%= current_user.pulled %>
    <%= current_user.slice %>
    <%= current_user.hook %>
    <%= current_user.shank %>
    <%= current_user.top %>
    <%= current_user.left %>
    <%= current_user.right %>
    <%= current_user.three %>
    <%= current_user.putt %>
    <%= current_user.short %>
    <%= current_user.long %>
  </p>
</div>
