<br />
<div class="col-xs-12">
  <h2 class="text-center">Premium Membership</h2>
  <div class="col-xs-6 bottom">
    <br /><br />
    <p class="info">
      Want more from TrakStats?  Upgrade to a Premium Membership!  Your Premium Membership includes
      a rankings section that let's you see how you stack up against other TrakStats users.
    </p>
    <br />
    <p class="info">
      Premium Membership ranks the following:
    </p>
    <ul class="info">
      <li>Scoring Avearage</li>
      <li>Driving Accuracy</li>
      <li>Green's in Reg.</li>
      <li>Putting Average</li>
      <li>Birdie Average</li>
      <li>Par Average</li>
    </ul>
    <br />
    <%= form_tag memberships_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <% if current_user.subscribed? %>
        <h1>Thanks for being a Member!</h1>
        <h3>View all the rankings -</h3>
        <ul class="info">
          <li><%= link_to 'Scoring Average', memberships_path %></li>
          <li><%= link_to 'Greens Avg', memberships_path %></li>
          <li><%= link_to 'Driving Avg', memberships_path %></li>
          <li><%= link_to 'Putting Avg', memberships_path %></li>
          <li><%= link_to 'Birdie Avg', memberships_path %></li>
          <li><%= link_to 'Par Avg', memberships_path %></li>
        </ul>
        <% else %>
        <label class="amount">
          <span class="info">Amount: $5.00</span>
        </label>
      </article>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="TrakStats Premium Membership"
              data-amount="500"
              data-locale="auto"></script>
    <% end %>
  </div>
  <% end %>
  <div class="col-xs-6 bottom">
    <%= image_tag 'stat1.png', class: 'img-responsive' %>
    <br class="clr" />
    <%= image_tag 'stat2.png', class: 'img-responsive' %>
  </div>
</div>
