<br /><br />
<div id="scoring" class="col-xs-8 col-xs-offset-2 member-stats">
  <h2>Scoring Average</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% scoring_rank_with_index do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>

<br /><br />
<div id="greens" class="col-xs-8 col-xs-offset-2 member-stats">
  <h2>Greens Average</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% greens_rank_with_index do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>
<br / /><br />
<div id="fwys" class="col-xs-8 col-xs-offset-2 member-stats">
  <h2>Fairways Average</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% fairways_rank_with_index do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>
<br /><br />
<div id="putts" class="col-xs-8 col-xs-offset-2 member-stats">
  <h2>Putting Average</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% putting_rank_with_index do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>
<br /><br />
<div id="birds" class="col-xs-8 col-xs-offset-2 member-stats">
  <h2>Birdie Average</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% birdies_rank_with_index do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>
<br /><br />
<div id="pars" class="col-xs-8 col-xs-offset-2 member-stats">
  <h2>Par Average</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th>Rank</th>
      <th>Name</th>
      <th>Avg</th>
      <th>Rnds</th>
    </tr>
  <% pars_rank_with_index do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg.round(2) %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>
