<br /><br />
<div class="col-xs-6 col-xs-offset-3 member-stats">
  <h2 class="text-center">Scoring Average</h2>
  <br />
  <table class="table1">
    <tr class="table-title">
      <th class="rank">Rank</th>
      <th class="scores">Name</th>
      <th class="scores">Avg</th>
      <th class="scores">Rnds</th>
    </tr>

    <% Round.group(:user).average(:score).sort_by{|k, v|}.each.with_index(1) do |(user, avg), i| %>
    <tr class="text-center">
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= avg %></td>
      <td><%= user.total_rounds %></td>
    </tr>
  <% end %>
  </table>
</div>

<div class="col-xs-10 col-xs-offset-1 text-center linkavg">
  <%= link_to 'Greens Avg', greensavg_path %>
  <%= link_to 'Driving Avg', fwysavg_path %>
  <%= link_to 'Putting Avg', puttsavg_path %>
  <%= link_to 'Birdie Avg', birdieavg_path %>
  <%= link_to 'Par Avg', paravg_path %>
</div>
