<br /><br />
<div class="col-xs-6 col-xs-offset-3 text-center bottom big-box2">
  <h2>TrakStats Video Lesson</h2>
  <%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
      <% end %>
      <label class="amount">
        <span class="cost">Amount: $30.00</span>
      </label>
    </article>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="TrakStats Video Lesson"
      data-amount="3000"
      data-locale="auto"></script>
      <% end %>
      <br />
</div>
<div class="top bottom">
  <div class="col-xs-6 bottom">
    <%= image_tag 'swing2.PNG', class:'img-responsive' %>
  </div>
  <div class="col-xs-6 bottom">
    <%= image_tag 'swing6.PNG', class:'img-responsive' %>
  </div>
</div>
<br class="clr" />
<div class="col-xs-10 col-xs-offset-1 lesson-instructions bottom">
  <h3>** What you need to know before you upload your video **</h3>
  <br />
  <ul class="info">
    <li>Upload a video using your iPhone, iPad or desktop computer</li>
    <li>If using a Samsung phone, make sure your video is in MP4 format</li>
    <li>Submit a video of a swing that is FACE ON or DOWN THE LINE</li>
    <li>Be sure to give a description of what you struggle with</li>
    <li>Once you submit a video I will take a look at it and create a lesson for you to view</li>
    <li>I'll email you when it's ready and you can view it on the <%= link_to 'VIDEO LESSONS', lessons_path %> page</li>
</div>
<br />
<br class="clr" />
<hr class="hr" />

<div class="container test">
    <div class="col-xs-10 col-xs-offset-1 text-center wc">
      <%= image_tag 'pga.png', class: 'pgalogo' %>
        <%= image_tag 'me.jpg', class: 'wcpic' %>
        <p class="info tagline">
        "I pride myself on teaching proper form and good fundamentals." &nbsp;&nbsp;&nbsp;-W.C.
        </p>
    </div>
    <div class="col-xs-10 swings top bottom">
      <div class="col-xs-4 mc">
        <%= image_tag 'swing3.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-8 mc">
        <%= image_tag 'swing2.jpg', class: 'img-responsive' %>
      </div>
    </div>
    <br class="clr" />
</div>
