<br /><br />
<div class="col-xs-6 col-xs-offset-3 text-center bottom big-box2">
  <h2>TrakStats Video Lesson</h2>
  <%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
      <% end %>
      <label class="amount">
        <span class="cost">Amount: $30.00</span>
      </label>
    </article>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="TrakStats Video Lesson"
      data-amount="3000"
      data-locale="auto"></script>
      <% end %>
</div>
<br class="clr" />
<div class="col-xs-10 col-xs-offset-1 lesson-instructions">
  <h3>What you need to know before you upload your video-</h3>
  <br />
  <ul class="info">
    <li>Upload a video from your iphone or ipad or desktop</li>
    <li>If using Samsung phone, make sure your video is MP4 format first before uploading!</li>
    <li>Submit a video of a swing that is FACE ON or DOWN THE LINE (Examples below)</li>
    <li>Be sure to give a description of what you struggle with (CAPTION)</li>
    <li>Once you submit a video I will take a look at it and create a lesson for you to view!</li>
    <li>Lessons will be available in 24 hours and will be viewable on the <%= link_to 'VIDEO LESSONS', lessons_path %> page</li>
    <li>Videos are evaluated with <a href="https://www.hudl.com/products/technique" target="_blank">Hudl Technique</a> (formerly Ubersense)</li>
  </ul>
</div>
<br />
<br class="clr" />
<hr class="hr" />
<div class="col-xs-10 col-xs-offset-1 bottom">
  <h3 class="text-center">What good videos angles look like!</h3>
  <br />
  <div class="col-xs-6 text-center good bottom">
    <h3 class="text-center">Down the line</h3>
    <p class="info">
      Good angle, could be back a bit (too close)
    </p>
    <br />
    <%= image_tag 'good1.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-6 text-center good bottom">
    <h3 class="text-center">Face on</h3>
    <p class="info">
      Good distance! (10'-15')
    </p>
    <br />
    <%= image_tag 'good2.jpg', class: 'img-responsive' %>
   </div>
</div>
