<br /><br />
<div class="col-xs-6 col-xs-offset-3 text-center bottom big-box3">
  <h2>Video Lessons</h2>
  <%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
      <% end %>
      <label class="amount">
        <span class="cost">Amount: $30.00</span>
      </label>
    </article>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="TrakStats Video Lesson"
      data-amount="3000"
      data-locale="auto"></script>
      <% end %>
      <br />
</div>
<br class="clr" />
<div class="top bottom">
  <div class="col-xs-3 bottom vids">
    <%= image_tag 'swing2.PNG', class:'img-responsive' %>
  </div>
  <div class="col-xs-3 bottom vids">
    <%= image_tag 'swing1.PNG', class:'img-responsive' %>
  </div>
  <div class="col-xs-3 bottom vids">
    <%= image_tag 'swing4.PNG', class:'img-responsive' %>
  </div>
  <div class="col-xs-3 bottom vids">
    <%= image_tag 'swing6.PNG', class:'img-responsive' %>
  </div>
</div>
<br class="clr" />
<div class="col-xs-10 col-xs-offset-1 lesson-instructions bottom">
  <h3>Video Lessons are now live!</h3>
  <br />
  <p class="info">
    Once you checkout, you will be able to upload your swing. Supported devices are iPhone, iPad and Desktop/Laptop.
    If you are using a Samsung device, save your video as an mp4 file first, then upload it. Fill out the form, upload your video
    and your lesson will be available in your profile to view with-in 24 hours.
    Questions or Concerns? Send me an <a href="mailto:wade.carlson@pga.com">Email</a>.
  </p>
</div>
<br />
<br class="clr" />
<hr class="hr" />

<div class="container test bottom">
    <div class="col-xs-10 col-xs-offset-1 text-center wc">
      <%= image_tag 'pga.png', class: 'pgalogo' %>
      <%= image_tag 'me.jpg', class: 'wcpic' %>
    </div>
</div>
