<!DOCTYPE html>
<html>
<head>
  <title>TrakStats</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="//vjs.zencdn.net/5.11.7/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/5.11.7/video.js"></script>
  <script src="//vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'TrakStats', root_path, class: 'navbar-brand' %>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to 'Add Round', '#', data: {toggle: 'modal', target: '#myModal'} %></li>
          <li><%= link_to 'My Stats', dashboard_path %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rankings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Scoring Average', scoringavg_path %></li>
            <li><%= link_to 'Greens Average', greensavg_path %></li>
            <li><%= link_to 'Fairways Avearage', fwysavg_path %></li>
            <li><%= link_to 'Putting Average', puttsavg_path %></li>
            <li><%= link_to 'Birdie Avearage', birdieavg_path %></li>
            <li><%= link_to 'Par Average', paravg_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'About The Rankings',rankings_path %></li>
          </ul>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instruction <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
            <li><%= link_to 'Tips', tips_path %></li>
            <li><%= link_to 'Instruction by Wade Carlson, PGA', aboutwc_path %></li>
            <li><%= link_to 'Upload a video', lessons_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to '*READ* How to submit a Video Lesson!',howto_path %></li>
            <li><%= link_to 'ADMIN', admin_path %></li>
            <% else %>
            <li><%= link_to 'Tips', tips_path %></li>
            <li><%= link_to 'Instruction by Wade Carlson, PGA', aboutwc_path %></li>
            <li><%= link_to 'Upload a video', lessons_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to '*READ* How to submit a Video Lesson!',howto_path %></li>
            <% end %>
          </ul>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete', class: 'links' %></li>
          <% else %>
          <li><%= link_to 'Sign-in', new_user_session_path, class: 'links pull-right' %></li>
          <li><%= link_to 'Register', new_user_registration_path, class: 'links pull-right' %></li>
          <li><%= link_to 'About', about_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Recap Your Round (18 Holes)</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body" id="signupForm">
          <%= simple_form_for Round.new do |f| %>
          <%= f.error_notification %>
            <%= f.input :course, required: true, label: 'Course Name?', placeholder: 'Holston Hills CC' %>
            <%= f.input :score, required: true, label: 'What score did you shoot?', placeholder: '75' %>
            <%= f.input :greens, required: true, label: 'Greens hit this round?', placeholder: '8' %>
            <%= f.input :fwys, required: true, placeholder: '7', label: 'Fairways hit today?' %>
            <%= f.input :fwystotal, required: true, label: 'Total fairways possible? Do not include Par 3 holes', placeholder: '14' %>
            <%= f.input :putts, required: true, label: 'Putts Total', placeholder: '31' %>
            <%= f.input :birdies, required: true, label: 'How many birdies this round?', placeholder: '3' %>
            <%= f.input :pars, required: true, label: 'How many pars this round?', placeholder: '10' %>
            <div id="errors"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <%= f.submit 'Create', class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
    <% if flash[:error].present? %>
      <div class="alert alert-danger text-center">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
<%= yield %>
</body>
</html>
