<!DOCTYPE html>
<html>
<head>
  <title>Golfstats</title>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'TrakStats', root_path, class: 'navbar-brand' %>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to 'Add Round', '#', data: {toggle: 'modal', target: '#myModal'} %></li>
          <li><%= link_to 'My Stats', dashboard_path %></li>
          <li><%= link_to 'Tips', tips_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete', class: 'links' %></li>
          <% else %>
          <li><%= link_to 'Sign-in', new_user_session_path, class: 'links pull-right' %></li>
          <li><%= link_to 'Register', new_user_registration_path, class: 'links pull-right' %></li>
          <li><%= link_to 'About', about_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Recap Your Round</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body" id="signupForm">
          <%= simple_form_for Round.new do |f| %>
          <%= f.error_notification %>
            <%= f.input :course, required: true, label: 'Course Name?', placeholder: 'Kiawah Ocean Course' %>
            <%= f.input :score, required: true, label: 'What score did you shoot?', placeholder: '75' %>
            <%= f.input :greens, required: true, label: 'Greens Hit This Round', placeholder: '8' %>
            <%= f.input :greenstotal, required: true, label: 'Total Greens?', placeholder: '18' %>
            <%= f.input :fwys, required: true, placeholder: '7', label: 'Fairways Hit Today?' %>
            <%= f.input :fwystotal, required: true, label: 'Total Fairways Possible?', placeholder: '14' %>
            <%= f.input :putts,required: true, label: 'Putts Total', placeholder: '31' %>
            <div id="errors"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <%= f.submit 'Create', class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <script>
    $('#signupForm').formValidation( {
      err: {
        container: '#errors'
      },
    });

    $('#signupForm').on('err.form.fv', function(e) {
      $('#myModal').modal('show');
    });

  </script>

  <!-- <div class="pull-left errors"> -->

    <% if flash[:error].present? %>
    <div class="alert alert-danger text-center">
      <%= flash[:error].html_safe %>
    </div>
      <% end %>
  <!-- </div> -->


<%= yield %>




</body>
</html>
