<!DOCTYPE html>
<html>
<head>
  <title>TrakStats</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js">
  <link href="//vjs.zencdn.net/5.11.7/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/5.11.7/video.js"></script>
  <script src="//vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body>
  <section class="main-logo text-center">
    <%= link_to root_path do %>
    <%= image_tag 'TrakStats.png' %>
    <% end %>
  </section>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clubhouse <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><%= link_to 'My Profile', dashboard_path %></li>
          <li><%= link_to 'Help Me Improve!', help_path %></li>
          <li><%= link_to 'Round Notes', notes_path %></li>
          <li><%= link_to 'Take a Lesson', new_charge_path %></li>
          <li><%= link_to 'Archived Lessons', lessons_path %></li>
          <!-- <li><%= link_to 'Video Lessons', new_charge_path %></li> -->
          <% if user_signed_in? && current_user.admin? %>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'ADMIN', admin_path %></li>
          <% end %>
          <% if user_signed_in? && current_user.admin? %>
          <li><%= link_to 'Member List', members_path %></li>
          <% end %>
          <!-- <li role="separator" class="divider"></li> -->
          <!-- <li><%= link_to 'My Video Lessons', lessons_path %></li> -->
          </ul>
          <% end %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rankings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Scoring Average', scoringavg_path %></li>
            <li><%= link_to 'Greens Average', greensavg_path %></li>
            <li><%= link_to 'Fairways Average', fwysavg_path %></li>
            <li><%= link_to 'Putting Average', puttsavg_path %></li>
            <li><%= link_to 'Birdie Avearage', birdieavg_path %></li>
            <li><%= link_to 'Par Average', paravg_path %></li>
            <!-- <li role="separator" class="divider"></li> -->
            <!-- <li><%= link_to 'About The Rankings',rankings_path %></li> -->
          </ul>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scoring <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Member 18 Hole Scores', allrounds_path %></li>
            <li><%= link_to 'Member 9 Hole Scores', allnineholes_path %></li>
          </ul>
            <% if user_signed_in? %>
            <li><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete', class: 'links' %></li>
            <li><%= link_to 'About', about_path, class: 'links' %></li>
            <% else %>
            <li><%= link_to 'Sign In', new_user_session_path, class: 'links' %>
            <li><%= link_to 'About', about_path, class: 'links' %></li>
            <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <% if flash[:error].present? %>
      <div class="alert alert-danger text-center">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
<%= yield %>
</body>
</html>
