<!DOCTYPE html>
<html>
<head>
  <title>Golfstats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'TrakStats', root_path, class: 'navbar-brand' %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Sign-up', new_user_registration_path %></li>
          <li><%= link_to 'Sign-in', new_user_session_path %></li>
          <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Members <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Post New Round</a></li>
              <li><a href="#">View your profile</a></li>
              <li><a href="#">Leave a comment</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">About</a></li>
            </ul>
          </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>
</div> <!---/wrap for footer -->

<div id="footer">
     <div class="container text-center">
       <%= link_to 'Post Round', '#' %>
       <%= link_to 'My Profile', '#' %>
       <%= link_to 'About', '#' %>
     </div>
</div>

</body>
</html>
